
/* Prevent problems on different browsers */
* { box-sizing: border-box; }



body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #b2dd9e;
    padding: 1rem 10px;
}

header span {
    color: #2d3f35;
    font-size: 1.6rem;
    font-weight: 700;
}

/* small screen navigation */
@media only screen and (max-width: 800px) {
   nav ul {
    margin: 0;
    padding: 0;
   }
   nav a {
    display: block;
    text-align: center;
    padding: .8rem;
    color: #2d3f35;
    text-decoration: none;
    border-bottom: solid 1px #eee;
     font-weight: 700;
     text-transform: uppercase;
   }
   nav .active a {
    background-color: #2d3f35;
    color: #b2dd9e;
    background-image: linear-gradient(to bottom, #5a6e62, #2d3f35);
   }
} /* end small screens */


/* LARGE screen navigation */
@media only screen and (min-width: 801px) {
nav {
    background-color: #efcb84;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #2d3f35;
    font-weight: 700;
}

nav li.active a {
    background-color: #b2dd9e;
    color: #2d3f35;
}

nav li a:hover {
    color: white;
}
} /* end LARGE screens */


/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #d2423a;
}

main h2 {
    color: #4482a3;
    margin-bottom: .2rem;
}

main h3 {
    color: #d2423a;
    font-weight: 600;
}

main p {
    margin: .5rem;
    color: #333;

}

main ol {
    padding: .5rem 30px;
    background-color: #eaeaea;
    border-radius: 10px;
    width: 400px;
}

main dl dt {
    color: #d2423a;
    font-weight: 600;
    margin-top: .5rem;
}

main dl dd {
    color: #4482a3;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 600;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #efcb84;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #2d3f35;
    width: 350px;
}

main a {
    color: #4482a3;
}
.hero {
    width: 100%;
    height: auto;
}

/* main image stuff here */
img {
    border-radius: 10px;
    border: 1px solid #2d3f35;
}

figure.image-column {
    margin: 0 0 1rem 1rem;
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;
}
.image-column {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

figure.image-column img {
    width: 100%;
    height: auto;
}

figure.image-column figcaption {
    text-align: center;
    font-size: .75rem;
}

/* gallery stuff here */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
    border-radius: 5px;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
}
div.gallery figure:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)

}

.myForm fieldset {
    border: 1px solid #b2dd9e;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #2d3f35;
    font-size: .8rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label,
.myForm select,
.myForm [type="text"],
.myForm [type="email"],
.myForm [type="tel"],
.myForm [type="number"],
.myForm [type="month"],
.myForm textarea {
    display: block;
}
.myForm [type="text"],
.myForm [type="tel"],
.myForm [type="email"],
.myForm [type="number"],
.myForm [type="month"],
.myForm textarea,
.myForm select {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Inter", sans-serif;
    margin: 0.5rem;
}
.myForm textarea {
    height: 6rem;
}
.myForm required {
    background-color: #888;
}
.myForm [type="submit"] {
    background-color: #b2dd9e;
    color: #2d3f35;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1rem 0 0 1vw;
}


/* footer stuff here */
footer {
    background-color: #b2dd9e;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}

footer p {
    margin: 0;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}
